extends layout

block content
  h1= 'PlayerUnknowns Battlegrounds'
  p PlayerUnknown's Battlegrounds (PUBG) is a multiplayer online battle royale game. Click on the links above to see my statistics.

