doctype html
html
  head
    title= 'PUBG multiplayer statistics'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - PUBG
    br
    a(href='/duofpp') Duo FPP statistics
    br
    a(href='/squadfpp') Squad FPP statistics

    block content
